<h1>Places</h1>

<div class="row mt-3">
  <% for place in @places %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place["name"] %></h5>
          <a href="/places/<%= place["id"] %>" class="btn btn-primary btn-sm">View Entries</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<a href="/places/new" class="btn btn-success mt-2">New Place</a>